<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Blocipedia</span>
                    <hr class="star-light">
                    <span class="skills">Read  –  Edit  –  Collaborate</span>
                </div>
            </div>
        </div>
    </div>
</header>

