<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tip Together is a place where you can learn, discuss, and share knowledge with the world.</h2>
                <br>
                <hr class="star-primary">
                <br>
                <p>Share your knowledge. Members can read tips and collaborate with premium members on articles.</p>
            </div>
        </div>
        <% if !user_signed_in? %>
            <div class="row">
                <div class="col-lg-12 text-center">
                      <br>
                      <%= link_to "Sign Up",  new_user_registration_path, class: "btn btn-primary btn-lg" %>
                      <br>
                      <br>
                      <%= link_to "Sign In", new_user_session_path %>
                </div>
            </div>
        <% end %>
    </div>   
</section>
