<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <h1 class="text-center">Thank You</h1>
    <hr>
    <div class="text-center">
      <p>Your account has been downgraded to a regular membership.</p>
    </div>
  </div>
</div>
